name: Test

on:
  push:

jobs:
  test:
    name: Test Android
    runs-on: ubuntu-xl
    env:
      AVD_NAME: ubuntu-avd-x86_64-31
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Enable Corepack
        run: corepack enable

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Gradle Cache
        uses: gradle/gradle-build-action@v2

      - name: AVD Cache
        uses: actions/cache@v3
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-31

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'yarn'

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'adopt'
          cache: 'gradle'

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Configure Test App
        run: |
          cd tests
          yarn install --frozen-lockfile

      - name: Initialize Android Folder
        run: mkdir -p ~/.android/avd

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2.28.0
        with:
          api-level: 31
          force-avd-creation: false
          target: google_apis
          arch: x86_64
          disable-animations: false
          avd-name: $AVD_NAME
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          script: echo "Generated AVD snapshot for caching."

      - name: Run connected Android tests
        uses: ReactiveCircus/android-emulator-runner@v2.28.0
        with:
          api-level: 31
          target: google_apis
          arch: x86_64
          avd-name: $AVD_NAME
          script: cd tests && yarn test-android --avdName $AVD_NAME
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true

  test-ios:
    name: Test iOS (Only build)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Enable Corepack
        run: corepack enable

      - uses: irgaly/xcode-cache@v1
        if: false # Currently broken, see e.g. https://github.com/powersync-ja/react-native-quick-sqlite/actions/runs/18458692696/job/52584961537
        with:
          key: xcode-cache-deriveddata-${{ github.workflow }}-${{ github.sha }}
          restore-keys: xcode-cache-deriveddata-${{ github.workflow }}-

      - name: CocoaPods Cache
        uses: actions/cache@v3
        id: cocoapods-cache
        with:
          path: |
            tests/ios/Pods/*
          key: ${{ runner.os }}-${{ hashFiles('tests/ios/Podfile.lock') }}

      - name: Setup NodeJS
        uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Configure Test App
        run: |
          cd tests
          yarn install --frozen-lockfile

      - name: Install Cocoapods
        run: |
          cd tests/ios && pod install

      - name: Build iOS
        run: |
          cd tests && yarn build-ios
