name: Test

on:
  push:

jobs:
  test:
    name: Test
    runs-on: macos-latest
    env:
      AVD_NAME: macOS-avd-x86_64-29
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      # - name: Gradle Cache
      #   uses: gradle/gradle-build-action@v2

      # - name: AVD Cache
      #   uses: actions/cache@v3
      #   id: avd-cache
      #   with:
      #     path: |
      #       ~/.android/avd/*
      #       ~/.android/adb*
      #     key: avd-29

      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: 'yarn'

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'adopt'
          cache: 'gradle'

      - name: Setup Yarn
        run: |
          npm install -g yarn
          echo "Yarn version: $(yarn -v)"

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Configure Test App
        run: |
          cd tests
          yarn install --frozen-lockfile

      # - name: create AVD and generate snapshot for caching
      #   if: steps.avd-cache.outputs.cache-hit != 'true'
      #   uses: reactivecircus/android-emulator-runner@v2
      #   with:
      #     api-level: 29
      #     force-avd-creation: false
      #     target: google_apis
      #     arch: x86_64
      #     disable-animations: false
      #     avd-name: $AVD_NAME
      #     emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
      #     script: echo "Generated AVD snapshot for caching."

      - name: Run connected tests
        uses: ReactiveCircus/android-emulator-runner@v2
        with:
          api-level: 29
          target: google_apis
          arch: x86_64
          avd-name: $AVD_NAME
          script: cd tests && yarn test --avdName $AVD_NAME
